
.playerDiv{
    width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left: 32.5%;
    margin-bottom: 5%;
    
}
.player{
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-family: monospace;
    color: brown;
    
    margin: 5px;
    background: #ccc;
    border: none;
    float: left;
}
.main{
    width: 490px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left: 30%;
    margin-top: 5%;
    
}
.btn{
    
    width: 150px;
    height: 150px;
    background: #ccc;
    border: none;
    margin: 5px;
    font-size: 1px;
    color: brown;
    
    
}
